
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-vkontakte:before { content: '\f189'; } /* '' */